{
  "name": "yaspp-site",
  "description": "Yaspp site project",
  "version": "1.0.0",
  "license": "Unknown",
  "scripts": {
    "dev": "cd  yaspp && yarn dev",
    "build": "cd  yaspp && yarn dev",
    "start": "cd  yaspp && yarn start",
    "preinit-site": "cd yaspp && yarn",
    "init-site": "npx ts-node yaspp/scripts/build/init-yaspp --project ."
  }
}
