{
  "name": "yaspp site",
  "description": "Yaspp site project",
  "version": "1.0.0",
  "license": "Unknown",
  "scripts": {
    "preinit-site": "cd yaspp && yarn",
    "init-site": "ts-node yaspp/scripts/build/init-yaspp --project ."
  }
}
